@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}

.container {
  display: flex;
  width: 900px;
  margin: 0 auto;
  text-align: center;
}

.player-panel.left {
  border-right: 5px solid rgba(243, 156, 18,1.0);
}

.player-panel.right {
  border-left: 5px solid rgba(243, 156, 18,1.0);
}

.player {
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 5px;
}

.player-current-box {
  margin-top: 10px;
  margin-bottom: 20px;
}

.player-current-label {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.player-current-score {
  font-size: 24px;
  font-weight: bold;
}

.roll{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.btn{
  margin: 10px;
  padding: 10px 20px;
  border: none;
  color: white;
  background-color: rgba(230, 126, 34,1.0);
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background-color: rgba(211, 84, 0,1.0);
}

#game-board {
  margin-top: 40px;
}

#dices {
  margin-bottom: 10px;
}

#player-1-panel.active {
  background-color: rgba(243, 156, 18,1.0);
  color: #fff;
  border: 5px solid rgba(241, 196, 15,1.0);
}

#player-2-panel.active {
  background-color: rgba(243, 156, 18,1.0);
  color: #fff;
  border: 5px solid rgba(241, 196, 15,1.0);
}

#player-1-panel.active::before,
#player-2-panel.active::before {
  content: "\2022";
  color: red;
  margin-right: -80px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


/*@media (max-width: 768px) {
  .container {
    flex-wrap: wrap;
  }
  .player-panel {
    width: 100%;
    border: none;
    margin-bottom: 20px;
  }
  .player-panel.left {
    border-bottom: 5px solid black;
  }
  .player-panel.right {
    border-top: 5px solid black;
  }
  #player-1-panel.active,
  #player-2-panel.active {
    border: none;
  }
}*/