body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150vh;
}

/* Styles pour les panneaux des joueurs */
.player-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 10px;
  width: 200px;
  text-align: center;
}

.active {
  border: 2px solid #008CBA;
  background-color: #faeded;
}

.player {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.player span {
  font-size: 14px;
  font-weight: normal;
}

/* Styles pour les boutons */
button {
  background-color: #008CBA;
  border: none;
  color: #fff;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

button:hover {
  background-color: #006C87;
}

button:active {
  box-shadow: none;
}

#rollDice {
  background-color: #4CAF50;
}

#rollDice:hover {
  background-color: #357a38;
}

#hold {
  background-color: #f44336;
}

#hold:hover {
  background-color: #d32f2f;
}

#newGame {
  background-color: #9E9E9E;
}

#newGame:hover {
  background-color: #757575;
}

/* Styles pour le dé */
#dice {
  display: block;
  margin: 30px auto;
}

/* Styles pour le score en cours */
.player-current-box {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-current-label {
  font-size: 14px;
  font-weight: bold;
  margin-right: 5px;
}

.player-current-score {
  font-size: 20px;
  font-weight: bold;
  color: #008CBA;
  margin: 0;
}
